<div>
    <h2>Group Details</h2>
</div>
<div *ngIf="group" class="row">
    <div class="row">
        <form novalidate>
            <div class="form-group">
                <label for="postName">Name</label>
                <input type="text" class="form-control"
                       id="postName" name="postName"
                       [(ngModel)]="group.name" readonly>
            </div>
            <div class="form-group">
                <label for="postCustomTag">Custom Tag</label>
                <input type="text" class="form-control"
                       id="postCustomTag" name="postCustomTag"
                       placeholder="custom tag (optional)"
                       [(ngModel)]="group.customType">
            </div>
            <div class="form-group">
                <label for="postDescription">Description</label>
                <input type="text" class="form-control"
                       id="postDescription" name="postDescription"
                       placeholder="description (optional)"
                       [(ngModel)]="group.description">
            </div>

            <button type="button" class="btn btn-default" (click)="updateGroup()">Update</button>
        </form>

        <h4>Members</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let m of members">
                <button type="button" class="btn btn-default btn-xs pull-right"
                        (click)="removeMember(m)">
                    remove
                </button>

                <a [routerLink]="['/player', m]">{{ m }}</a>
            </li>
        </ul>

    </div>
</div>

<div *ngIf="!group">
    Loading...
</div>
