body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dev-mode {
    font-size: large;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}