<!-- Copyright (c) Microsoft. All rights reserved.
Licensed under the MIT license. See LICENSE file in the project root for full license information. -->
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- base href is required here for routing to work on relative paths-->
       <base href="/ui/admin/" />
       <meta charset="utf-8">
       <title>Nether Administration</title>
       <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/dist/css/bootstrap.css">
       <link rel="stylesheet" type="text/css" media="screen" href="css/site.css">
        <script>
                  window.__CONFIG__ = {
                      "authServerUrl": "@Configuration["AdminWebUi:AuthServerUrl"]",
                      "apiBaseUrl": "@Configuration["AdminWebUi:ApiBaseUrl"]",
                      "redirectUrl": "@Configuration["AdminWebUi:RedirectUrl"]",
                  };
        </script>
    </head>

    <body class="body">

       <nether-app>
          Loading <strong> Nether Web Admin...</strong>
       </nether-app>

       <!-- scripts -->

       <script src="lib/jquery/dist/jquery.js"></script>
       <script src="lib/jquery-ui/jquery-ui.js"></script>
       <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
       <script src="lib/core-js/client/shim.min.js"></script>
       <script src="lib/zone.js/dist/zone.js"></script>
       <script src="lib/reflect-metadata/Reflect.js"></script>
       <script src="lib/systemjs/dist/system.src.js"></script>
       <script src="systemjs.config.js"></script>
       <script>
          System.import('app').catch(function(err){ console.error(err); });
       </script>
    </body>
</html>