@model RegisterViewModel

<div class="register-page">
    <div class="page-header">
        <h1>Register</h1>
    </div>
    @Html.Partial("_ValidationSummary")
    <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Choose your gamertag:</h3>
                    </div>
                    <div class="panel-body">
                        <form asp-action="Register" asp-controller="Account">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Gamertag"></label>
                                    <input class="form-control" placeholder="Gamertag" asp-for="Gamertag" autofocus>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
